@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    max-width: 900px;
    margin: 0 1rem;
}

@media only screen and (min-width: 932px) {
    body {
        margin: 0 auto;
    }
}

/** hero styling **/

header {
    height: 100vh;
    display: grid;
    grid-template-rows: 100px 1fr auto minmax(100px, 350px) 2fr;
    justify-items: center;
}

.header--title {
    grid-row: 3;
}

.header--logo {
    grid-row: 4;
    max-width: 75%;
    max-height: 100%;
}

.header--nav {
    grid-row: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    display: grid;
    justify-items: center;
    background: #fff;
    box-shadow: 0 2px 15px rgba(0,0,0,0.2);
}

.header--nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: minmax(40px, 1fr) 2fr;
    width: 100%;
    max-width: 900px;
}
    
.nav--item {
    text-align: center;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 1rem;
}

.header--nav a {
    text-decoration: none;
    color: #111;
    text-transform: uppercase;
}

.nav--logo {
    max-height: 120px;
    padding: 0;
    grid-row: 1 / span 3;
}

.nav--logo a {
    padding: 5px 0;
}

.header--logo-small {
    max-height: 100px;
    padding: 0;
    
}

@media only screen and (min-width: 500px) {
    .header--nav ul {
        grid-template-columns: minmax(40px, 1fr) repeat(3, 1fr);
    }
    .nav--logo {
        grid-row: 1;
    }
    .nav--item {
        padding-left: 0;
    }
}
    
/** main **/

main {
    display: grid;
    grid-gap: 1rem;
}

/** about us **/

.about__us--title {
    justify-self: center;
    grid-column: 1 / -1;
}

.about__us {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 3rem;
}

.about__us--bullet {
    border: 1px solid #111;
    border-radius: 1rem;
    padding: 1rem;
}

/** products **/

.products {
    display: grid;
    grid-template-areas: 
        "title"
        "retro__pi--icon"
        "retro__pi"
        "media__server--icon"
        "media__server"
        "camera--icon"
        "camera";
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

@media only screen and (min-width: 500px) {
    .products {
        grid-template-areas: 
        "title title title"
        "retro__pi retro__pi retro__pi--icon"
        "retro__pi retro__pi retro__pi--icon"
        "media__server--icon media__server media__server"
        "media__server--icon media__server media__server"
        "camera camera camera--icon"
        "camera camera camera--icon";
        grid-template-columns: repeat(3, 1fr);
    }
    
}

.product {
    border-radius: 1rem;
    padding: 1rem;
    background: #087E8B;
    color: #fff;
}
.product--icon {
    justify-self: center;
    align-self: center;
    font-size: 5rem;
    color: #be003f;
}

.products--title {
    grid-area: title;
    justify-self: center;
}

.retro__pi {
    grid-area: retro__pi;
}
.retro__pi--icon {
    grid-area: retro__pi--icon;
}

.media__server {
    grid-area: media__server;
}
.media__server--icon {
    grid-area: media__server--icon;
}

.camera {
    grid-area: camera;
}
.camera--icon {
    grid-area: camera--icon;
}

/** workshop styling **/

.workshops {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

.workshops--title {
    grid-column: 1 / -1;
    justify-self: center;
}

.workshop {
    padding: 1rem;
    border-radius: 1rem;
    background: #087e8b;
    color: #fff;
}

/** video stylying **/

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width:
    100%;
    height: 100%;
}

/** form styling **/

.form {
    display: grid;
    grid-gap: .5rem;
    align-items: end;
    margin-bottom: 1rem;
}

.form-txt {
    margin: 0;
    justify-self: center;
}

@media only screen and (min-width: 500px) {
    .workshops {
        grid-template-columns: repeat(2, 1fr);
    }
    .form {
        grid-template-columns: 3fr 1fr;
        /* align-items: center; */
    }
    .form-txt {
        grid-column: 1 / -1;
    }
}

@media only screen and (min-width: 750px) {
    .form {
        grid-template-columns: auto 3fr 1fr;
        grid-gap: 1rem;
    }
    .form-txt {
        grid-column: 1;
        align-self: end;
    }
}

.form--email {
    display: flex;
    flex-flow: column-reverse;
    /* margin-bottom: 1rem; */
}

.form--email--label {
    font-size: .75rem;
    letter-spacing: 0.05rem;
    /* margin-bottom: .75rem; */
}

.form--email--label, .form--email--input {
    transition: all 0.2s;
    touch-action: manipulation;
}

.form--email--input {
    font-size: 1.0rem;
    border: 0;
    border-bottom: 1px solid #ccc;
    font-family: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    padding: 0;
    cursor: text;
}

.form--email--input:focus {
    outline: 0;
    border-bottom: 1px solid #666;
}

.form--email--input:placeholder-shown + .form--email--label {
    cursor: text;
    max-width: 66.66%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transform-origin: left bottom;
    transform: translate(0, 1.5rem) scale(1.5);
}

.form--email--input::-webkit-input-placeholder {
    opacity: 0;
    transition: inherit;
}

.form--email--input:focus::-webkit-input-placeholder {
    opacity: 1;
}

.form--email--input:not(:placeholder-shown) + .form--email--label,
.form--email--input:focus + .form--email--label {
  transform: translate(0, 0) scale(1);
  cursor: pointer;
}

/** submit button **/

.submit__btn {
    background: none;
    border: 1px solid #111;
    padding: .75rem 1.5em;
    justify-self: center;
    text-transform: uppercase;
    transition: .17s all ease-in;
}

.submit__btn:hover {
    cursor: pointer;
    background: #111;
    color: #fff
}